.about-sidebar-title::after,
.about-sidebar-title::before,
.recent-posts-title::after,
.recent-posts-title::before,
.list-tags-title::after,
.list-tags-title::before,
.list-contacts-title::after,
.list-contacts-title::before {
  content: "";
  background: #eee;
  flex: 1;
  height: 0.05em;
  margin: 0.1em;
}

.about-sidebar-icon {
  width: 6em;
  border-radius: 50%;
}

.left {
  float: left;
  margin-right: 1em;
}

.recent-posts-thumbnail {
  border-radius: 50%;
  width: 3.5em;
  height: 3.5em;
}

.recent-posts-date {
  color: #606060;
  font-size: 0.8em;
}

.recent-posts-line-break {
  border-top: 1px dotted #eee;
}

li {
  list-style-type: none;
}

/* TAG */

.btn-tag {
  background-color: #eee;
  border-color: #eee;
  font-size: 0.9em;
  border-radius: 25px;
  margin: 0.2em;
}

.btn-tag:hover {
  background-color: #FFFFFF;
  border-color: #eee;
}

.btn-tag > a {
  color: #505050;
}

.btn-tag > a:hover {
  color: #505050;
}

.fab {
  font-size: 1.5em;
}

.fa-github {
  color: #211F1F;
}

.fa-quora {
  color: #b92b27;
}

.fa-reddit {
  color: #FF5700;
}
