<div class="mb-5 contacts-wrapper"> <!-- TAGS -->

  <h5 class="d-flex justify-content-start align-items-center mb-3 list-contacts-title">
     <strong> &nbsp;&nbsp Contatti &nbsp;&nbsp; </strong>
  </h5>
  <div class="d-flex justify-content-center logo-wrapper">
    <div class="quora">
      <a href="https://it.quora.com/profile/Edoardo-Arzenton" target="_blank">
      <i class="fab fa-quora"></i>
      </a>
    </div>
    <div class="mx-3 github">
      <a href="https://github.com/cortosconto" target="_blank">
      <i class="fab fa-github"></i>
      </a>
    </div>
    <div class="reddit">
      <a href="https://www.reddit.com/user/edoardo_arzenton" target="_blank">
      <i class="fab fa-reddit"></i>
      </a>
    </div>
  </div>

</div>
